body {
	background-image: url("../images/bg.jpg");
	background-color: white;
	background-size: cover;
}

h3 {
	margin-top: 0px;
}

.khoa {
	margin: 0px 120px 50px 120px;
	padding: 50px;
	width: auto;
	background-color: white;
	/*border-left: #26a69a 5px solid;*/
	transition: box-shadow .25s;
  	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
}

.profile-picture {
	width: 40px;
	height: 40px;
	margin-top: 10px;
}

#search-block {
	margin: 0px;
}

#search-title {
	margin: 0px;
}

.block {
	margin-bottom: 20px;
}

#teacher-thumb {
	width: 100%;
}

.q_main{
	padding-left : 10%;
	padding-right : 10%;
}

.q_nav li{
	padding-left : 15px;
	padding-right : 15px;
}

.q_nav .btn{
	margin-left : 12px;
	margin-right : 12px;
	margin-top : 12px;
}

.border {
	border: red 2px solid;
}

h2 {
	font-size: 30px;
}

.grid figure {
	background: black;
}